* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f9f3ed;
  font-size: 1rem;
}

ul#pollResults {
  margin: 0;
  padding: 0;
}

ul#pollResults li {
  display: block;
  border: solid 1px #ddd;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

ul#pollResults li .perc-back {
  background: #d2dfe5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: -1;
}

ul#pollResults li label {
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
}

ul#pollResults li .perc-number {
  float: right;
}

#superdashboard {
  margin: 5px;
  padding: 20px;
  min-height: calc(100vh - 80px);
  color: #333;
}

#superdashboard table td {
  padding: 5px;
}

#superdashboard a, #superdashboard i {
  color: #616161;
}

#superdashboard .audi {
  height: 100%;
}

#superdashboard .audi .title {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

#superdashboard .audi .video {
  margin-top: 10px;
  width: 100%;
  background-color: #000;
  position: relative;
}

#superdashboard .audi .video .video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(../img/boot-poster.jpg);
                background-size: cover; */
}

#superdashboard .audi .video::before {
  padding-top: 56.25%;
  content: '';
  display: block;
}

#superdashboard .audi .tabs {
  padding: 5px 0;
  margin: 5px 0 0 0;
}

#superdashboard .audi .tabs a {
  color: #333;
  background-color: #616161;
  padding: 5px;
}

#superdashboard .audi .tabs a.active {
  color: #E0E0E0;
}

#superdashboard .audi .details {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#superdashboard .audi .details ul.sessques, #superdashboard .audi .details ul.sessviewers {
  list-style: none;
}

#superdashboard .audi .details ul.sessques li, #superdashboard .audi .details ul.sessviewers li {
  margin-bottom: 5px;
  color: #333;
  border-bottom: 0px solid #adb5bd;
  padding: 3px 0;
}

#superdashboard .audi .details ul.sessques li .ques_time, #superdashboard .audi .details ul.sessviewers li .ques_time {
  background-color: #adb5bd;
  font-size: 0.7em;
}
/*# sourceMappingURL=admin.css.map */