* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f9f3ed;
    font-size: 1rem;
    position: relative;
}

body.loaded .preloader {
    display: none;
}

body.loaded .page-content {
    display: block;
}

body .page-content {
    display: none;
}

body.no-bg {
    background-image: none;
}

#content #bg #back-button {
    position: fixed;
    background-color: #072d45;
    padding: 5px 10px;
    border-radius: 4px;
    top: 80px;
    left: 15px;
}

a {
    text-decoration: none;
}

#btn-login {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
}

#player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height: 40px;
    width: 40px;
    padding: 12px 18px;
    margin: 10px 20px;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: gainsboro;
}

.play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}

.pause {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}

a.skip {
    position: fixed;
    bottom: 10%;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}

.videotoplay {
    z-index: 9999;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: calc(100vh);
    overflow: hidden;
}

.videotoplay iframe {
    width: 100%;
    height: calc(100vh);
}

.videotoplay .skip {
    position: absolute;
    bottom: 10%;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}

.videotoplay .skip:hover {
    color: #fff;
    cursor: pointer;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom center;
    object-position: bottom center;
}

#art-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 9%;
    z-index: 1;
}

.ui-dialog {
    border: 0px solid #e73f8c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 80% !important;
    height: 60% !important;
    max-width: 900px;
    max-height: 450px;
    overflow: auto;
    background-color: #fff;
}

.ui-dialog.talktoteam {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    bottom: 70px !important;
    top: auto !important;
    right: 15px;
    left: auto !important;
}

.ui-dialog.attendeechat {
    max-width: 400px;
    max-height: 400px;
    /* position: absolute;
        bottom: 70px !important;
        top: auto !important;
        right: 15px;
        left: auto !important;*/
}

.ui-dialog.videolist {
    max-width: 450px;
    max-height: 400px;
}

.ui-dialog.requests {
    max-width: 500px;
    max-height: 200px;
}

.ui-dialog .ui-widget-header {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.ui-dialog .ui-dialog-title {
    text-transform: uppercase;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    border: none;
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    width: 30px;
    height: 30px;
    background-image: url(../img/close.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: -16px;
    margin-left: -18px;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick:focus {
    outline: none;
}

.ui-dialog .attendee_chat_box,
.ui-dialog #talktous {
    height: 350px !important;
    overflow: hidden;
}

.btn-chat,
.btn-share {
    background-color: #d2dfe5;
    color: #007cb0;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #007cb0;
    border-radius: 4px;
}

#talktous {
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto;
}

#talktous #chat_team .chat_history {
    height: 225px;
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    overflow-y: auto;
    margin-bottom: 15px;
}

#talktous #chat_team .form-group {
    margin-bottom: 0.25em;
}

#chat-area {
    background-color: #e9ecef;
    color: #6c757d;
    border: 1px solid #6c757d;
    width: 80%;
    height: calc(100vh - 100px);
    border-radius: 4px;
    margin: 0 auto;
}

#chat-area #chat-members {
    width: 35%;
    border-right: 1px solid #6c757d;
    float: left;
    height: 100%;
}

#chat-area #chat-members #member-heading {
    font-size: 1.25em;
    text-align: center;
    border-bottom: 1px solid #6c757d;
    padding: 10px;
    padding: 25px;
    height: 70px;
}

#chat-area #chat-members #chat-users {
    height: calc(100% - 70px);
    overflow: auto;
}

#chat-area #chat-members #chat-users ul.chatusers {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-area #chat-members #chat-users ul.chatusers li {
    padding: 10px 20px;
    border-bottom: 1px solid #dae0e5;
    font-weight: 600;
    font-size: 1.25em;
}

#chat-area #chat-members #chat-users ul.chatusers li span {
    display: block;
    font-size: 0.8em;
    font-weight: 100;
}

#chat-area #chat-members #chat-users ul.chatusers li span.badge {
    display: inline-block;
    margin-left: 3px;
    font-size: 0.8em;
}

#chat-area #chat-members #chat-users ul.chatusers li:hover {
    background-color: #dae0e5;
    cursor: pointer;
}

#chat-area #member-chats {
    width: 65%;
    float: left;
    height: 100%;
}

#chat-area #member-chats #chats-heading {
    height: 70px;
    border-bottom: 1px solid #6c757d;
    padding: 25px;
}

#chat-area #member-chats #chats-heading h3 {
    font-size: 1.25em;
    margin-bottom: 5px;
}

#chat-area #member-chats #chats-heading h4 {
    font-size: 1em;
}

#chat-area #member-chats #member-chat-history {
    height: calc(100% - 100px);
}

#chat-area #member-chats #member-chat-history #chat-history {
    height: calc(100% - 100px);
    overflow: auto;
}

#chat-area #member-chats #member-chat-history #chat-history ul li {
    position: relative;
    border-bottom: 1px solid #dae0e5;
}

#chat-area #member-chats #member-chat-history #chat-history ul li span.time {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.75em;
}

#chat-area #member-chats #team-chat-form {
    height: 100px;
    padding: 10px 30px;
}

#chat-area #member-chats #team-chat-form textarea {
    font-size: 1em;
}

.login-wrapper {
    /* background-color: #f3f3f3; */
    padding: 1rem;
    /* border-radius: 12px; */
    /* border: 1px solid #bcc7ce; */
    /* -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.12); */
}

form .input {
    background-color: #fff;
    /* border-radius: 8px; */
    height: 50px;
    border: 1px solid #606060;
}

form .input::-webkit-input-placeholder {
    /* Edge */
    font-style: italic;
}

form .input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
}

form .input::-ms-input-placeholder {
    font-style: italic;
}

form .input::placeholder {
    font-style: italic;
}

form .input:focus,
form .input:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #606060;
}

.text-error {
    font-size: 0.65rem;
    margin-left: 12px;
}


/*Pre Loader*/

.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    -webkit-animation-name: loading-text;
    animation-name: loading-text;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #333333;
}

@-webkit-keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}


/*Modals*/

.modal {
    outline: 0;
}

.modal#attendees .modal-dialog,
.modal#confAgenda .modal-dialog {
    width: 90% !important;
    max-width: 800px !important;
    height: 80vh;
    max-height: 600px;
}

.modal .search-area form .input {
    width: 100%;
}

.modal .modal-dialog {
    width: 80%;
    max-width: 650px;
    height: 70vh;
    max-height: 600px;
}

.modal .modal-dialog .modal-content {
    border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
    background-color: #199df0;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
    margin: 0;
    font-size: 1.25em;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: #c00;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
    outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0em;
    color: #616161;
    background-color: #F5F5F5;
    /*min-height: 50vh;*/
}

.modal .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 100%;
}

.modal .modal-dialog .modal-content .modal-body .search-area {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
}

.modal .modal-dialog .modal-content .modal-body .search-area button {
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 0 5px 0 0;
    border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList {
    border: 1px solid #e0e0e0;
    padding: 0;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions {
    position: absolute;
    top: 7px;
    right: 10px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions button {
    border: none;
    background-color: #BDBDBD;
    padding: 4px 8px;
    color: #EEEEEE;
}

.modal .modal-dialog .modal-content .modal-body .content {
    /* min-height: 30vh; */
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    width: 95%;
    margin: 10px auto;
}

.modal .modal-dialog .modal-content .modal-body .content a {
    color: #007cb0;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel {
    margin: 40px 20px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li {
    border-bottom: 1px solid #E0E0E0;
    padding: 5px 0;
    margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a {
    color: #e73f8c !important;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a:hover {
    text-decoration: none;
}

.modal-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;
}

.modal-tabs:before {
    display: table-cell;
    content: '';
}

.modal-tabs li {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal-tabs li a {
    color: #797878;
    padding: 18px 25px;
}

.modal-tabs li.active {
    border-top: 2px solid #232f3e;
    background-color: #EEEEEE;
}

.modal-tabs li.active a {
    color: #464646;
    font-weight: 600;
}


/*Mobile Portrait Mode*/

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

#content {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100vh);
    overflow: hidden;
}

#content.selfiezone {
    min-height: 650px;
}

#content #header-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

#content #header-menu nav {
    padding: 5px 0 !important;
}

#content #header-menu a {
    color: #f3ecec;
    font-size: 0.75rem;
}

#content #header-menu ul#attendance {
    list-style: none;
    padding-left: 0 !important;
    color: white;
}

#content #header-menu ul#attendance li {
    margin-bottom: 0;
    font-size: 0.6em;
    padding: 0 10px;
}

#content #bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

#content #bottom-menu .bottom-nav {
    padding: 5px 0;
}

#content #bottom-menu ul li a {
    display: block;
    color: #5c2323;
    font-size: 0.75rem;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

#content #bottom-menu ul li a:hover {
    text-decoration: none;
}

#content #bottom-menu ul li a i {
    display: block;
    color: #424242;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 5px;
}

#content #bg {
    position: relative;
    margin-top: 0px;
    bottom: 82px;
    background-color: #000;
}

#content #bg img {
    width: 100%;
    height: auto;
}

#content #bg .indicator {
    /* background-color: rgb(0, 54, 204); */
    content: '';
    width: 150px;
    /* border-width: 0 3px 3px 0; */
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0%;
    /* border-radius: 50%; */
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

#content #bg .indicator.d-4 {
    background-color: rgb(0, 54, 204);
    width: 4px;
    height: 4px;
    bottom: -2px;
}

#content #bg .indicator.d-6 {
    width: 6px;
    height: 6px;
    bottom: -2px;
}

#content #bg .indicator.d-0 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #17abb8;
    transform: rotate( -91deg) !important;
    bottom: -4px;
}

#content #bg .indicator.d-1 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #17abb8;
    transform: rotate( -91deg) !important;
    bottom: -4px;
}

#content #bg .indicator.d-2 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #17abb8;
    transform: rotate( -18deg) !important;
    bottom: -4px;
}

#content #bg .indicator.d-3 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #17abb8;
    transform: rotate(49deg) !important;
    bottom: -4px;
}

#content #bg .indicator.d-8 {
    width: 8px;
    height: 8px;
    bottom: -4px;
}

#content #bg .indicator.d-10 {
    width: 10px;
    height: 10px;
    bottom: -5px;
}

#content #bg #lobbyVideo {
    position: absolute;
    top: 24.2%;
    left: 45.6%;
    width: 8.4%;
    height: 7%;
}

#content #bg #lobbyVideo1 {
    position: absolute;
    top: 26%;
    left: 34%;
    width: 32.4%;
    height: 29%;
}

#content #bg #enterYC {
    position: absolute;
    top: 37%;
    left: 45.4%;
    width: 8%;
    height: 3.2%;
}

#content #bg #enterHall {
    position: absolute;
    top: 48%;
    left: 63%;
    width: 8%;
    height: 3.2%;
}

#content #bg #enterSZ {
    position: absolute;
    top: 58.2%;
    left: 25.4%;
    width: 6%;
    height: 2.6%;
}

#content #bg #enterAudi {
    position: absolute;
    top: 54.2%;
    left: 46%;
    width: 6.4%;
    height: 2.6%;
}

#content #bg #enterBcs {
    position: absolute;
    top: 61.2%;
    left: 64.4%;
    width: 6.4%;
    height: 2.6%;
}

#content #bg #showAgenda {
    position: absolute;
    top: 58.5%;
    left: 63.4%;
    width: 1.6%;
    height: 1.6%;
}

#content #bg #showAgenda .indicator {
    left: 30%;
}

#content #bg #banner01 {
    position: absolute;
    top: 32%;
    left: 38.7%;
    width: 21.6%;
    height: 6.6%;
}

#content #bg #banner02 {
    position: absolute;
    top: 40.3%;
    left: 8.2%;
    width: 19.3%;
    height: 22.6%;
}

#content #bg #banner03 {
    position: absolute;
    top: 35.4%;
    left: 69%;
    width: 20.2%;
    height: 19.6%;
}

#content #bg #banner04 {
    position: absolute;
    top: 46%;
    left: 43%;
    width: 12.6%;
    height: 8.6%;
}

#content #bg #banner05 {
    position: absolute;
    top: 81.2%;
    left: 36.1%;
    width: 24.8%;
    height: 9.4%;
}

#content #bg #banner06 {
    position: absolute;
    top: 56.2%;
    left: 69.8%;
    width: 16.8%;
    height: 13.4%;
}

#content #bg #banner07 {
    position: absolute;
    top: 66.6%;
    left: 19.9%;
    width: 7.2%;
    height: 19.6%;
}

.ppbutton {
    font-size: 50px;
    cursor: pointer;
}

#content #bg #banner08 {
    position: absolute;
    top: 54.8%;
    left: 72.9%;
    width: 13.4%;
    height: 20.6%;
}

#content #bg #resource {
    position: absolute;
    top: 58.8%;
    left: 19.7%;
    width: 13.7%;
    height: 4.8%;
}

#content #bg #resource .indicator {
    bottom: 1%;
    left: 45%;
}

#content #bg #webcast-area {
    position: absolute;
    top: 28.5%;
    left: 28.8%;
    width: 43.4%;
    height: 36.8%;
}

#content #bg #webcast-area .video-player {
    width: 100%;
    height: 100%;
}

#content #bg #bcsVideo0 {
    position: absolute;
    top: 50.6%;
    left: 26.9%;
    width: 5.8%;
    height: 20%;
}

#content #bg #bcsVideo01 {
    position: absolute;
    top: 38.6%;
    left: 19.9%;
    width: 4.8%;
    height: 10%;
}

#content #bg #bcsVideo01 .indicator {
    bottom: 49%;
    left: 45%;
}

#content #bg #bcsGallery {
    position: absolute;
    top: 42%;
    left: 41.8%;
    width: 15.2%;
    height: 13%;
    overflow-x: hidden;
    overflow-y: auto;
}

#content #bg #bcsGallery .gallery a img {
    float: left;
    width: 33%;
    height: auto;
    border: 2px solid #000;
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
    position: relative;
}

#content #bg #bcsGallery .gallery a:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
}

#content #bg #bcsVideo01 {
    position: absolute;
    top: 38.6%;
    left: 19.9%;
    width: 4.8%;
    height: 10%;
}

#content #bg #bcsVideo01 .indicator {
    bottom: 49%;
    left: 45%;
}

#content #bg #bcsVideo02 {
    position: absolute;
    top: 38.6%;
    left: 71.5%;
    width: 4.8%;
    height: 10%;
}

#content #bg #bcsVideo02 .indicator {
    bottom: 49%;
    left: 40%;
}

#content #bg #bcsVideo03 {
    position: absolute;
    top: 35.6%;
    left: 11.6%;
    width: 6.7%;
    height: 13%;
}

#content #bg #bcsVideo03 .indicator {
    bottom: 50%;
    left: 45%;
}

#content #bg #bcsVideo04 {
    position: absolute;
    top: 35.6%;
    left: 77.5%;
    width: 6.7%;
    height: 13%;
}

#content #bg #bcsVideo04 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #show_talktous {
    position: absolute;
    top: 55%;
    left: 40%;
    width: 21%;
    /* height: calc(92% - 60px); */
    height: 20%;
}

#content #bg #show_talktous .indicator {
    left: 48%;
    display: none;
}

#content #bg #exhibit0101 {
    position: absolute;
    top: 32.4%;
    left: 10.7%;
    width: 8%;
    height: 8.8%;
}

#content #bg #exhibit0102 {
    position: absolute;
    top: 32.6%;
    left: 19.2%;
    width: 7.7%;
    height: 8.6%;
}

#content #bg #exhibit0103 {
    position: absolute;
    top: 32.8%;
    left: 28.3%;
    width: 6.7%;
    height: 8.1%;
}

#content #bg #exhibit0104 {
    position: absolute;
    top: 32.9%;
    left: 36.5%;
    width: 7.6%;
    height: 8.4%;
}

#content #bg #exhibit0105 {
    position: absolute;
    top: 32.9%;
    left: 45.3%;
    width: 6.6%;
    height: 8.4%;
}

#content #bg #exhibit0106 {
    position: absolute;
    top: 32.9%;
    left: 54%;
    width: 6.6%;
    height: 8.4%;
}

#content #bg #exhibit0107 {
    position: absolute;
    top: 32.4%;
    left: 62.5%;
    width: 6.9%;
    height: 9.2%;
}

#content #bg #exhibit0108 {
    position: absolute;
    top: 33.2%;
    left: 69.8%;
    width: 8%;
    height: 8.5%;
}

#content #bg #exhibit0109 {
    position: absolute;
    top: 32.7%;
    left: 78.4%;
    width: 8.3%;
    height: 8.1%;
}

#content #bg #exhibit0201 {
    position: absolute;
    top: 42.5%;
    left: 9.8%;
    width: 8%;
    height: 8.4%;
}

#content #bg #exhibit0202 {
    position: absolute;
    top: 42.2%;
    left: 19.3%;
    width: 7.7%;
    height: 7.9%;
}

#content #bg #exhibit0203 {
    position: absolute;
    top: 41.8%;
    left: 28.3%;
    width: 6.7%;
    height: 9.4%;
}

#content #bg #exhibit0204 {
    position: absolute;
    top: 41.8%;
    left: 36.5%;
    width: 7.6%;
    height: 8.6%;
}

#content #bg #exhibit0205 {
    position: absolute;
    top: 41.8%;
    left: 45%;
    width: 7.6%;
    height: 7.6%;
}

#content #bg #exhibit0206 {
    position: absolute;
    top: 41.8%;
    left: 54%;
    width: 6.6%;
    height: 8.6%;
}

#content #bg #exhibit0207 {
    position: absolute;
    top: 42.6%;
    left: 62.5%;
    width: 6.9%;
    height: 7.6%;
}

#content #bg #exhibit0208 {
    position: absolute;
    top: 42%;
    left: 70.8%;
    width: 6.8%;
    height: 7.9%;
}

#content #bg #exhibit0209 {
    position: absolute;
    top: 42.1%;
    left: 78.2%;
    width: 8.3%;
    height: 8.7%;
}

#content #bg #exhibit0301 {
    position: absolute;
    top: 51.5%;
    left: 9%;
    width: 7.9%;
    height: 8.6%;
}

#content #bg #exhibit0302 {
    position: absolute;
    top: 51.4%;
    left: 19.4%;
    width: 7.7%;
    height: 9.2%;
}

#content #bg #exhibit0303 {
    position: absolute;
    top: 51.6%;
    left: 28.4%;
    width: 6.7%;
    height: 8.4%;
}

#content #bg #exhibit0304 {
    position: absolute;
    top: 51.6%;
    left: 36.5%;
    width: 7.6%;
    height: 7.6%;
}

#content #bg #exhibit0305 {
    position: absolute;
    top: 51.6%;
    left: 45.3%;
    width: 7.6%;
    height: 8.6%;
}

#content #bg #exhibit0306 {
    position: absolute;
    top: 51.6%;
    left: 54%;
    width: 6.6%;
    height: 8.6%;
}

#content #bg #exhibit0307 {
    position: absolute;
    top: 52.6%;
    left: 62.5%;
    width: 6.9%;
    height: 6.6%;
}

#content #bg #exhibit0308 {
    position: absolute;
    top: 52.4%;
    left: 70%;
    width: 7.9%;
    height: 7.3%;
}

#content #bg #exhibit0309 {
    position: absolute;
    top: 52.4%;
    left: 79%;
    width: 7.9%;
    height: 7.3%;
}

#content #bg #exhibit101 {
    position: absolute;
    top: 45.4%;
    left: 46.2%;
    width: 5%;
    height: 7.8%;
}

#content #bg #exhibit102 {
    position: absolute;
    top: 45.6%;
    left: 51.2%;
    width: 5.7%;
    height: 8.6%;
}

#content #bg #exhibit103 {
    position: absolute;
    top: 45.8%;
    left: 57.3%;
    width: 5.7%;
    height: 7.1%;
}

#content #bg #exhibit104 {
    position: absolute;
    top: 45.5%;
    left: 62.5%;
    width: 5.6%;
    height: 7%;
}

#content #bg #exhibit105 {
    position: absolute;
    top: 45.9%;
    left: 69.3%;
    width: 4.6%;
    height: 6.4%;
}

#content #bg #exhibit106 {
    position: absolute;
    top: 45.9%;
    left: 75%;
    width: 5.6%;
    height: 6.4%;
}

#content #bg #exhibit107 {
    position: absolute;
    top: 54.4%;
    left: 46.3%;
    width: 4.9%;
    height: 6.2%;
}

#content #bg #exhibit108 {
    position: absolute;
    top: 54.2%;
    left: 51.8%;
    width: 5%;
    height: 6.5%;
}

#content #bg #exhibit109 {
    position: absolute;
    top: 54.7%;
    left: 57.4%;
    width: 5.3%;
    height: 6.1%;
}

#content #bg #exhibit201 {
    position: absolute;
    top: 54.5%;
    left: 62.8%;
    width: 5%;
    height: 6.4%;
}

#content #bg #exhibit202 {
    position: absolute;
    top: 54.5%;
    left: 62.8%;
    width: 5%;
    height: 6.4%;
}

#content #bg #exhibit203 {
    position: absolute;
    top: 54.8%;
    left: 69.3%;
    width: 5.7%;
    height: 7.4%;
}

#content #bg #exhibit204 {
    position: absolute;
    top: 53.8%;
    left: 75%;
    width: 5.6%;
    height: 7.6%;
}

#content #bg #exhibit205 {
    position: absolute;
    top: 53.8%;
    left: 75%;
    width: 5.6%;
    height: 7.6%;
}

#content #bg #exhibit206 {
    position: absolute;
    top: 62.8%;
    left: 46%;
    width: 5.3%;
    height: 6.6%;
}

#content #bg #exhibit207 {
    position: absolute;
    top: 64.6%;
    left: 51.5%;
    width: 4.9%;
    height: 5.6%;
}

#content #bg #exhibit208 {
    position: absolute;
    top: 63%;
    left: 57.8%;
    width: 5.3%;
    height: 6.9%;
}

#content #bg #exhibit209 {
    position: absolute;
    top: 63.1%;
    left: 63.2%;
    width: 5.3%;
    height: 7.7%;
}

#content #bg #exhibit301 {
    position: absolute;
    top: 63.5%;
    left: 69%;
    width: 5.3%;
    height: 7.6%;
}

#content #bg #exhibit302 {
    position: absolute;
    top: 63.4%;
    left: 75.4%;
    width: 5.3%;
    height: 7.2%;
}

#content #bg #exhibit303 {
    position: absolute;
    top: 51.6%;
    left: 28.4%;
    width: 6.7%;
    height: 8.4%;
}

#content #bg #exhibit304 {
    position: absolute;
    top: 51.6%;
    left: 36.5%;
    width: 7.6%;
    height: 7.6%;
}

#content #bg #exhibit305 {
    position: absolute;
    top: 51.6%;
    left: 45.3%;
    width: 7.6%;
    height: 8.6%;
}

#content #bg #exhibit306 {
    position: absolute;
    top: 51.6%;
    left: 54%;
    width: 6.6%;
    height: 8.6%;
}

#content #bg #exhibit307 {
    position: absolute;
    top: 52.6%;
    left: 62.5%;
    width: 6.9%;
    height: 6.6%;
}

#content #bg #exhibit308 {
    position: absolute;
    top: 52.4%;
    left: 70%;
    width: 7.9%;
    height: 7.3%;
}

#content #bg #exhibit309 {
    position: absolute;
    top: 52.4%;
    left: 79%;
    width: 7.9%;
    height: 7.3%;
}

.white-popup {
    position: absolute;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    transition: 1s all;
}


/* overlay animate in */


/* overlay animate out */

#content #bg.photobooth {
    min-height: 650px;
}

#content #photobooth {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 90%;
    max-width: 1000px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 650px;
}

#content #photobooth #options {
    position: absolute;
    right: 0;
    top: 0;
    width: 30% !important;
    max-height: 550px;
    padding: 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

#content #photobooth #options ul li {
    padding: 0 !important;
}

#content #photobooth #options ul li a {
    color: #333;
    font-size: 0.6rem;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5rem 1rem;
}

#content #photobooth #options ul li:hover {
    background-color: #333;
    cursor: pointer;
}

#content #photobooth #options ul li:hover a {
    color: #fff;
}

#content #photobooth #social {
    margin-top: 15px;
}

#content #photobooth #social a {
    font-size: 1.5rem;
}

#content #audiAgenda,
#content #ask-ques,
#content #take-poll {
    background-color: #000;
    position: absolute;
    top: 32.5%;
    left: 0;
    width: 125px;
    border-radius: 0 12px 12px 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
}

#content #audiAgenda a,
#content #ask-ques a,
#content #take-poll a {
    display: block;
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
}

#content #audiAgenda a:hover,
#content #ask-ques a:hover,
#content #take-poll a:hover {
    text-decoration: none;
}

#content #audiAgenda i,
#content #ask-ques i,
#content #take-poll i {
    display: block;
    margin-bottom: 5px;
}

#content #ask-ques,
#content #take-poll {
    left: auto !important;
    right: 0;
    top: 20.5%;
    border-radius: 6px 0 0 6px !important;
}

#content #take-poll {
    top: calc(32.5% + 100px);
}

#content .panel {
    position: absolute;
    top: 60px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 100px);
    cursor: pointer;
    background-color: #adb5bd;
    font-size: 1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow-y: auto;
}

#content .panel .panel-heading {
    background-color: #212529;
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    font-size: 0.8em;
    color: #EEEEEE;
}

#content .panel .panel-heading .close {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1em;
    color: #ccc;
    background-color: #c00;
    padding: 5px;
}

#content .panel .panel-content {
    padding: 10px;
}

#content .panel .panel-content .form-check-input {
    margin-left: 0 !important;
}

#content .panel.show {
    right: 0 !important;
}

ul#pollResults {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

ul#pollResults li {
    display: block;
    border: solid 1px #ddd;
    padding: 8px;
    margin-bottom: 6px;
    position: relative;
    z-index: 0;
}

ul#pollResults li:first-child {
    border-radius: 8px 8px 0 0;
}

ul#pollResults li:last-child {
    border-radius: 0 0 8px 8px;
}

ul#pollResults li .perc-back {
    background: #d2dfe5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: -1;
}

ul#pollResults li label {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
}

ul#pollResults li .perc-number {
    float: right;
}

@media only screen and (max-width: 770px) {
    #audiAgenda,
    #ask-ques,
    #take-poll {
        top: 25.5% !important;
        width: 100px !important;
    }
    #audiAgenda a,
    #ask-ques a,
    #take-poll a {
        font-size: 0.8rem !important;
        padding: 8px 4px !important;
    }
    #audiAgenda i,
    #ask-ques i,
    #take-poll i {
        margin-bottom: 5px;
    }
    #ask-ques,
    #take-poll {
        top: 32.5%;
        border-radius: 6px 0 0 6px !important;
    }
    #take-poll {
        top: calc(22.5% + 80px) !important;
    }
    .panel {
        right: -200px !important;
        width: 200px !important;
        font-size: 0.8em !important;
    }
    .panel .panel-heading {
        padding: 5px 10px;
        font-size: 1em;
    }
    .panel .panel-heading .close {
        right: 10px;
        top: 7px;
        font-size: 1em;
        padding: 2px 4px 3px 4px;
    }
    .panel .panel-content {
        padding: 10px;
    }
}


/*# sourceMappingURL=styles.css.map */